<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Карточка товара</title>
    
</head>
<body>
    <a href = "/"> Главная </a> - <a href = "/items"> Список товаров </a> - <a href = "/item/{{ item.id }}">{{ item.id }}</a> <br>
    <br>
    id: <strong>{{item.id}}</strong> <br>
    Наименование: <strong>{{item.name}}</strong> <br>
    Бренд: <strong>{{item.brand}}</strong> <br>
    {% if item.count %}
        Количество: <strong>{{item.count}}</strong> <br>
    {% else %}
        Товар отсутствует <br>
    {% endif %}
    <a href = "/items">Назад к списку товаров</a>
</body>
</html>